.heading
{
    box-shadow: 5px 5px 5px red;
    border: 4px solid blue;
    border-radius: 15px;
    color: red;
    background-color: aquamarine;
}
.footer
{
    position: fixed;
    color: orange;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    line-height: 3;
    text-align: center;
    font-size: 25px;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px yellow;
}
